.gallery {
  color: var(--primary-text-color);
  font-weight: 400;
  text-align: center;
}

.title {
  margin: 1.5em 0.5em;
}

.title h1 {
  font-size: 1.9em;
  margin: 0.5em;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images .lightBoxThumbnail {
  max-width: 420px;
  width: 100%;
  height: auto;
}
