main {
  margin: 1em;
  color: var(--primary-text-color);
}

.modContent .thumb img {
  border-radius: 15px;
  width: 420px;
  height: auto;
  image-rendering: pixelated;
  object-fit: cover;
  margin: 1em 0;
}

.modContent .thumb {
  position: relative;
}

.modContent {
  display: flex;
  column-gap: 2em;
  margin: 1.5em 0.5em;
  width: 100%;
}

.author h2 {
  font-size: 1.2em;
  font-weight: 400;
}

.description p {
  margin: 1em 0;
}

.download {
  margin: 0.6em;
  height: 41px;
}

.download span {
  font-size: 1.6em;
  cursor: pointer;
  background: var(--download-color);
  border-radius: 50px;
  opacity: 0.85;
  padding: 0.5em;
}

.download a {
  color: var(--primary-background-color);
}

.preDownload {
  position: fixed;
  top: 0;
  left: -8px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 100%;
}

.downloadInfo {
  background-color: var(--secondary-background-color-rgba);
  backdrop-filter: blur(8.5px);
  width: 100%;
  height: auto;
  max-width: 420px;
  padding: 1em;
  margin: 1em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.downloadInfo span {
  color: var(--download-color);
  margin: 1em 0;
  padding: 0.5em;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
}

.moreMods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.moreMods h2 {
  margin: 1em 0;
  font-size: 1.7em;
}

.modList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modList .thumb img {
  width: 100%;
  max-width: 360px;
  height: auto;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.modList .title {
  font-size: 0.8em;
  padding: 1em;
}

.title h2 {
  margin: 0;
  max-width: 350px;
}

.title h3 {
  font-weight: 400;
}

.modList .mod {
  background-color: var(--secondary-background-color);
  margin: 1em;
  border-radius: 15px;
}

.moreMods a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

@media screen and (max-width: 1020px) {
  .modContent {
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .modContent .thumb img {
    max-width: 400px;
    width: 100%;
  }

  .description {
    margin: 0 1em;
  }

  .download {
    position: absolute;
    right: 0;
    top: 10px;
  }
}
