nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  position: sticky;
  background: var(--secondary-background-color-rgba);
  backdrop-filter: blur(7.9px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  top: 0%;
  z-index: 2;
}

nav img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  image-rendering: pixelated;
  animation: linear 5.5s rotateImg infinite;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav > a {
  height: 55px;
  position: absolute;
  top: 10px;
  left: 15px;
  bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li > a {
  padding: 0.5em 0.8em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 10px;
  bottom: 10px;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.active .line1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.activeNav {
  display: flex;
  transform: translateX(0);
}

@media only screen and (max-width: 850px) {
  nav {
    height: 77px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: initial;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 100%;
    height: 100vh;
    transform: translateX(100vw);
    background: rgba(23, 23, 23, 0.8);
  }

  nav ul > li {
    margin: 2em 1em;
  }

  nav ul > li a:hover {
    color: #f3cd6c;
    transition: color 0.2s;
  }
}
