main {
  padding: 1.2em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main > p {
  margin: 1em;
  font-style: italic;
}

main > h1 {
  font-style: italic;
  font-weight: 400;
}

section {
  margin: 1em;
}

section h2 {
  font-weight: 400;
  font-style: italic;
}

section p {
  font-size: 0.9em;
  margin: 0.5em 0;
}

section ol,
section ul {
  margin: 0.5em 1.5em;
  font-size: 0.9em;
}
